{% extends "base.html" %}

{% block title %}{{data.router_name}} - Summary{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<style>
    .table-considerable {
    --bs-table-color: #000;
    --bs-table-bg: #ffac4a;
    color: var(--bs-table-color);
}
</style>

<div class="container-fluid pb-4 pt-4">
    <div class="container">
        <h1>{{data.router_name}} Backcountry Dashboard</h1>
        <div class="alert alert-info" role="alert">
            Explore Rogers Pass maps, access, safety, weather, and avalanche resources on the <a href="{{data.router_prefix}}/resources" class="alert-link">Resources</a> page.
        </div>
    </div>
</div>

<div class="container-fluid pb-4 pt-4 bg-light">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3>Road Events</h3>
                <p class="fw-light fst-italic mt-1 mb-1">Major road events within Glacier National Park</p>
            </div>
            <div class="col-lg-8">
                {% for event in data.major_events %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    <div>
                        <b>{{event.headline}}</b>
                        <br>
                        {{event.description}} <a href="{{event.link}}" target="_blank">More
                        Info</a>
                    </div>
                </div>
                {% else %}
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <i class="bi bi-check-circle-fill me-2"></i>
                    <div>
                        No major road events reported at Glacier National Park.
                    </div>
                </div>
                {% endfor %}
                <div class="mb-2">
                    <a href="{{data.router_prefix}}/roads" class="btn btn-primary text-wrap" role="button">All road
                        events</a>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{{data.road_webcam.web_link}}" alt="{{data.road_webcam.name}}" width="100%">
                <div class="">
                    <a href="{{data.router_prefix}}/webcams" class="btn btn-primary mt-2 text-wrap"
                       role="button">All webcams</a>
                </div>

            </div>

            <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.roads_link}}"
                                                                target="_blank">{{data.roads_source_name}}</a>
            </p>

        </div>

    </div>
</div>

<div class="container-fluid pb-4 pt-4">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3>Avalanche Forecast <span class="badge bg-secondary text-wrap">Valid until {{data.avalanche_forecast.validUntil}} PST</span>
                </h3>
            </div>
            <div class="col-lg-4">
                {% if data.avalanche_forecast.forecasts[0] is defined %}

                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                        {% if "low" in data.avalanche_forecast.forecasts[0].alpine_danger_rating %}
                        <tr class="table-success">
                            {% elif "moderate" in data.avalanche_forecast.forecasts[0].alpine_danger_rating %}
                        <tr class="table-warning">
                            {% elif "considerable" in data.avalanche_forecast.forecasts[0].alpine_danger_rating  %}
                        <tr class="table-considerable">
                            {% elif "high" in data.avalanche_forecast.forecasts[0].alpine_danger_rating  %}
                        <tr class="table-danger">
                            {% elif "extreme" in data.avalanche_forecast.forecasts[0].alpine_danger_rating  %}
                        <tr class="table-dark">
                            {% else %}
                        <tr class="table-info">
                            {% endif %}
                            <td><b>Alpine</b></td>
                            <td class="text-uppercase">{{data.avalanche_forecast.forecasts[0].alpine_danger_rating}}
                            </td>
                        </tr>

                        {% if "low" in data.avalanche_forecast.forecasts[0].treeline_danger_rating  %}
                        <tr class="table-success">
                            {% elif "moderate" in data.avalanche_forecast.forecasts[0].treeline_danger_rating %}
                        <tr class="table-warning">
                            {% elif "considerable" in data.avalanche_forecast.forecasts[0].treeline_danger_rating  %}
                        <tr class="table-considerable">
                            {% elif "high" in data.avalanche_forecast.forecasts[0].treeline_danger_rating  %}
                        <tr class="table-danger">
                            {% elif "extreme" in data.avalanche_forecast.forecasts[0].treeline_danger_rating  %}
                        <tr class="table-dark">
                            {% else %}
                        <tr class="table-info">
                            {% endif %}
                            <td><b>Treeline</b></td>
                            <td class="text-uppercase">{{data.avalanche_forecast.forecasts[0].treeline_danger_rating}}
                            </td>
                        </tr>

                        {% if "low" in data.avalanche_forecast.forecasts[0].below_treeline_danger_rating %}
                        <tr class="table-success">
                            {% elif "moderate" in data.avalanche_forecast.forecasts[0].below_treeline_danger_rating  %}
                        <tr class="table-warning">
                            {% elif "considerable" in data.avalanche_forecast.forecasts[0].below_treeline_danger_rating %}
                        <tr class="table-considerable">
                            {% elif "high" in data.avalanche_forecast.forecasts[0].below_treeline_danger_rating %}
                        <tr class="table-danger">
                            {% elif "extreme" in data.avalanche_forecast.forecasts[0].below_treeline_danger_rating %}
                        <tr class="table-dark">
                            {% else %}
                        <tr class="table-info">
                            {% endif %}
                            <td><b>Below Treeline</b></td>
                            <td class="text-uppercase">
                                {{data.avalanche_forecast.forecasts[0].below_treeline_danger_rating}}
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
                {% endif %}
            </div>
            <div class="col-lg-8">
                {{data.avalanche_forecast.summary | safe}}
                <div>
                    <a href="{{data.avalanche_forecast.official_link}}" class="btn btn-primary text-wrap" role="button"
                       target="_blank">Full avalanche forecast</a>
                </div>
            </div>

        </div>
        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.avalanche_canada_link}}"
                                                            target="_blank">{{data.avalanche_source_name}}</a>
        </p>
    </div>
</div>

<div class="container-fluid pb-4 pt-4 bg-light">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3>MIN Reports
                </h3>
                <p class="fw-light fst-italic mt-1 mb-1">10 latest MIN reports within 50 km of Rogers Pass Discovery Center in the last 7 days.</p>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Reports</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for min_report in data.min_reports.min_report_list %}
                        {% if loop.index < 10 %}
                        <tr>
                            <td><a href="{{min_report.url}}" target="_blank">{{min_report.title}}</a></td>
                            <td class="text-nowrap">{{min_report.date}}</td>
                            <td>
                                {% for observation in min_report.observations %}
                                <span class="badge bg-secondary text-wrap">{{observation}}</span>&nbsp;
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <a href="{{data.router_prefix}}/min-reports" class="btn btn-primary text-wrap mt-2" role="button">Full MIN Reports List</a>
        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.avalanche_canada_link}}"
                                                            target="_blank">{{data.avalanche_source_name}}</a>
        </p>
    </div>
</div>


<div class="container-fluid pb-4 pt-4">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                {% if data.backcountry_access.restricted_areas[0] is defined %}
                <h3>Backcountry Access <span
                        class="badge bg-secondary text-wrap">Valid for {{data.backcountry_access.valid_from}}</span>
                </h3>
                {% else %}
                <h3>Backcountry Access <span
                        class="badge bg-danger text-wrap">Information for today has not been posted.</span></h3>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" class="w-75">Winter Restricted Area</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ski_area in data.backcountry_access.restricted_areas %}
                        {% if ski_area.isOpen == True %}
                        <tr class="table-success">
                            {% else %}
                        <tr class="table-danger">
                            {% endif %}
                            <td>{{ski_area.name}}</td>
                            {% if ski_area.isOpen == True %}
                            <td>Open&nbsp;&nbsp;</td>
                            {% else %}
                            <td>Closed</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" class="w-75">Parking Lot</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for parking in data.backcountry_access.parking_areas %}
                        {% if parking.isOpen == True %}
                        <tr class="table-success">
                            {% else %}
                        <tr class="table-danger">
                            {% endif %}
                            <td>{{parking.name}}</td>
                            {% if parking.isOpen == True %}
                            <td>Open&nbsp;&nbsp;</td>
                            {% else %}
                            <td>Closed</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <a href="{{data.backcountry_map_link}}" class="btn btn-primary text-wrap" role="button" target="_blank">Full
            backcountry
            access details</a>
        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.backcountry_area_source_link}}"
                                                            target="_blank">{{data.backcountry_area_source_name}}</a>
        </p>
    </div>
</div>

<div class="container-fluid pb-4 pt-4 bg-light">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-4">Weather Forecast</h3>
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4">
                        <h4>Avalanche Canada <span
                                class="badge bg-secondary text-wrap">Issued {{data.avalanche_forecast.dateIssued}} PST</span>
                        </h4>
                        {{data.avalanche_forecast.weather_summary | safe}}

                        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.avalanche_canada_link}}"
                                                                            target="_blank">{{data.avalanche_source_name}}</a>
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 mb-4">
                        <h4>Environment Canada <span
                                class="badge bg-secondary text-wrap">Issued {{data.environment_canada_date_issued_pst}}</span>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col" class="w-25">Period</th>
                                    <th scope="col">Summary</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for forecast in data.environment_canada_weather %}
                                <tr>
                                    <td><img src="{{forecast.icon_url}}" alt="{{forecast.icon_alt}}" width="50px"></td>
                                    <td>{{forecast.forecast_period}}</td>
                                    <td>{{forecast.text_summary}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.environment_canada_link}}"
                                                                            target="_blank">{{data.weather_source_name}}</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{{data.spotwx_gfs_link}}" class="btn btn-primary text-wrap mb-2 mb-md-0" role="button"
                           target="_blank">SpotWx GFS</a>
                        <a href="{{data.spotwx_gdps_link}}" class="btn btn-primary text-wrap mb-2 mb-md-0" role="button"
                           target="_blank">SpotWx GDPS</a>
                        <a href="{{data.windy_link}}" class="btn btn-primary text-wrap mb-2 mb-md-0" role="button"
                           target="_blank">Windy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-4 pt-4">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-2">Rogers Pass Weather Station</h3>
                <div id="snow_chart" class="">
                </div>
                <div id="air_temp_chart" class="">
                </div>
                <div id="wind_speed_chart" class="">
                </div>
                <div id="wind_direction_chart" class="">
                </div>

<!--                <script>-->
<!--                        {{ data.highchart_js_raw | safe }}-->
<!--                </script>-->
                <script>
                        {{ data.weather_station_chart[1] | safe }}
                </script>
                <script>
                        {{ data.weather_station_chart[2] | safe }}
                </script>
                <script>
                        {{ data.weather_station_chart[3] | safe }}
                </script>
                <script>
                        {{ data.weather_station_chart[4] | safe }}
                </script>

            </div>
        </div>
        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.avalanche_canada_link}}"
                                                                            target="_blank">{{data.avalanche_source_name}}</a>
                        </p>
    </div>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}


{% endblock %}