{% extends "base.html" %}

{% block title %}{{data.router_name}} - Summary{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<style>
    .table-considerable {
    --bs-table-color: #000;
    --bs-table-bg: #ffac4a;
    color: var(--bs-table-color);
}
</style>

<div class="container-fluid pb-4 pt-4">
    <div class="container">
        <h1>{{data.router_name}} Backcountry Dashboard</h1>
    </div>
</div>

<div class="container-fluid pb-4 pt-4 bg-light">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3>Road Events</h3>
            </div>
            <div class="col-lg-8">
                {% for event in data.major_events %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    <div>
                        <b>{{event.headline}}</b>
                        <br>
                        {{event.description}} <a href="{{event.link}}" target="_blank">More
                        Info</a>
                    </div>
                </div>
                {% else %}
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <i class="bi bi-check-circle-fill me-2"></i>
                    <div>
                        No major road events
                    </div>
                </div>
                {% endfor %}
                <div class="mb-2">
                    <a href="{{data.router_prefix}}/roads" class="btn btn-primary text-wrap" role="button">All road
                        events</a>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{{data.road_webcam.web_link}}" alt="{{data.road_webcam.name}}" width="100%">
                <div class="">
                    <a href="{{data.router_prefix}}/webcams" class="btn btn-primary mt-2 text-wrap"
                       role="button">All webcams</a>
                </div>

            </div>

            <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.roads_link}}"
                                                                target="_blank">{{data.roads_source_name}}</a>
            </p>

        </div>

    </div>
</div>

<div class="container-fluid pb-4 pt-4">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3>Avalanche Forecast <span class="badge bg-secondary text-wrap">Valid until {{data.avalanche_forecast.validUntil}} PST</span>
                </h3>
            </div>
            <div class="col-lg-4">
                {% if data.avalanche_forecast.forecasts[0] is defined %}

                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                        {% if data.avalanche_forecast.forecasts[0].alpine_danger_rating == "low" %}
                        <tr class="table-success">
                            {% elif data.avalanche_forecast.forecasts[0].alpine_danger_rating == "moderate" %}
                        <tr class="table-warning">
                            {% elif data.avalanche_forecast.forecasts[0].alpine_danger_rating == "considerable" %}
                        <tr class="table-considerable">
                            {% elif data.avalanche_forecast.forecasts[0].alpine_danger_rating == "high" %}
                        <tr class="table-danger">
                            {% elif data.avalanche_forecast.forecasts[0].alpine_danger_rating == "extreme" %}
                        <tr class="table-dark">
                            {% endif %}
                            <td><b>Alpine</b></td>
                            <td class="text-uppercase">{{data.avalanche_forecast.forecasts[0].alpine_danger_rating}}
                            </td>
                        </tr>

                        {% if data.avalanche_forecast.forecasts[0].treeline_danger_rating == "low" %}
                        <tr class="table-success">
                            {% elif data.avalanche_forecast.forecasts[0].treeline_danger_rating == "moderate" %}
                        <tr class="table-warning">
                            {% elif data.avalanche_forecast.forecasts[0].treeline_danger_rating == "considerable" %}
                        <tr class="table-considerable">
                            {% elif data.avalanche_forecast.forecasts[0].treeline_danger_rating == "high" %}
                        <tr class="table-danger">
                            {% elif data.avalanche_forecast.forecasts[0].treeline_danger_rating == "extreme" %}
                        <tr class="table-dark">
                            {% endif %}
                            <td><b>Treeline</b></td>
                            <td class="text-uppercase">{{data.avalanche_forecast.forecasts[0].treeline_danger_rating}}
                            </td>
                        </tr>

                        {% if data.avalanche_forecast.forecasts[0].below_treeline_danger_rating == "low" %}
                        <tr class="table-success">
                            {% elif data.avalanche_forecast.forecasts[0].below_treeline_danger_rating == "moderate" %}
                        <tr class="table-warning">
                            {% elif data.avalanche_forecast.forecasts[0].below_treeline_danger_rating == "considerable"
                            %}
                        <tr class="table-considerable">
                            {% elif data.avalanche_forecast.forecasts[0].below_treeline_danger_rating == "high" %}
                        <tr class="table-danger">
                            {% elif data.avalanche_forecast.forecasts[0].below_treeline_danger_rating == "extreme" %}
                        <tr class="table-dark">
                            {% endif %}
                            <td><b>Below Treeline</b></td>
                            <td class="text-uppercase">
                                {{data.avalanche_forecast.forecasts[0].below_treeline_danger_rating}}
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
                {% endif %}
            </div>
            <div class="col-lg-8">
                {{data.avalanche_forecast.summary | safe}}
                <div>
                    <a href="{{data.avalanche_forecast.official_link}}" class="btn btn-primary text-wrap" role="button"
                       target="_blank">Full avalanche forecast</a>
                </div>
            </div>

        </div>
        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.avalanche_canada_link}}"
                                                            target="_blank">{{data.avalanche_source_name}}</a>
        </p>
    </div>
</div>

<div class="container-fluid pb-4 pt-4 bg-light">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                {% if data.backcountry_access.restricted_areas[0] is defined %}
                <h3>Backcountry Access <span
                        class="badge bg-secondary text-wrap">Valid for {{data.backcountry_access.valid_from}}</span>
                </h3>
                {% else %}
                <h3>Backcountry Access <span
                        class="badge bg-danger text-wrap">Information for today has not been posted.</span></h3>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" class="w-75">Winter Restricted Area</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ski_area in data.backcountry_access.restricted_areas %}
                        {% if ski_area.isOpen == True %}
                        <tr class="table-success">
                            {% else %}
                        <tr class="table-danger">
                            {% endif %}
                            <td>{{ski_area.name}}</td>
                            {% if ski_area.isOpen == True %}
                            <td>Open&nbsp;&nbsp;</td>
                            {% else %}
                            <td>Closed</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" class="w-75">Parking Lot</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for parking in data.backcountry_access.parking_areas %}
                        {% if parking.isOpen == True %}
                        <tr class="table-success">
                            {% else %}
                        <tr class="table-danger">
                            {% endif %}
                            <td>{{parking.name}}</td>
                            {% if parking.isOpen == True %}
                            <td>Open&nbsp;&nbsp;</td>
                            {% else %}
                            <td>Closed</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <a href="{{data.backcountry_map_link}}" class="btn btn-primary text-wrap" role="button" target="_blank">Full
            backcountry
            access details</a>
        <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.backcountry_area_source_link}}"
                                                            target="_blank">{{data.backcountry_area_source_name}}</a>
        </p>
    </div>
</div>

<div class="container-fluid pb-4 pt-4">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h3>Weather Forecast <span
                        class="badge bg-secondary text-wrap">Issued {{data.avalanche_forecast.dateIssued}} PST</span>
                </h3>
                {{data.avalanche_forecast.weather_summary | safe}}
                <a href="{{data.router_prefix}}/weather" class="btn btn-primary text-wrap" role="button">Full weather
                    forecast</a>
                <a href="{{data.spotwx_link}}" class="btn btn-primary text-wrap" role="button"
                   target="_blank">SpotWx</a>
                <a href="{{data.windy_link}}" class="btn btn-primary text-wrap" role="button"
                   target="_blank">Windy</a>
                <p class="fw-light fst-italic mt-3 mb-0">Source: <a href="{{data.avalanche_canada_link}}"
                                                                    target="_blank">{{data.avalanche_source_name}}</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

{{ super() }}


{% endblock %}